/*** (768px) TABLETS ***/

@media (min-width: 48em) {
  .container {
    padding: 0 4rem;
  }

  .header {
    padding-top: 2.4rem;
    margin-bottom: 10rem;
  }

  .btn--dark {
    padding: 2rem 3.9rem;
    z-index: 100;
  }

  .hero {
    display: flex;
    position: relative;
  }

  .hero-text-box {
    width: 60%;
  }

  .hero-img {
    position: absolute;
    width: 45rem;
    top: -8rem;
    right: -8rem;
  }

  .section-feature {
    padding-top: 15rem;
  }

  .features-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 5.6rem;
  }

  .feature-item {
    padding: 0 2.1rem 3.2rem 3.2rem;
  }

  .footer {
    padding: 3.6rem 4rem;
  }
}

/*** (1100px) Landscape tablets ***/

@media (min-width: 69em) {
  .container {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
/*** (1300px) DESKTOP ***/

@media (min-width: 81em) {
  .container {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
  }

  .logo {
    transform: none;
  }
  .header {
    margin-bottom: 18rem;
  }

  .heading-primary {
    font-weight: 800;
    font-size: 5.6rem;
    margin-bottom: 3rem;
    line-height: 1.26;
  }

  .hero-description {
    line-height: 1.6;
    margin-bottom: 4rem;
    margin-right: 7.5rem;
  }
  .hero-text-box {
    width: 45%;
  }

  .hero-img {
    position: absolute;
    width: 69rem;
    top: -14rem;
    right: -7.5rem;
  }

  .section-feature {
    padding-top: 22rem;
    padding-bottom: 14rem;
  }

  .feature-item {
    padding: 0 2.1rem 4rem 3.2rem;
  }

  .features-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 5.6rem;
  }

  .hero-description,
  .feature-description {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
